<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
 	<bean id="randomFortuneService" class="com.explore.springbean.scopes.RandomFortuneService">
 	</bean>
 	
	<!-- By default the scope is Singleton -->
    <bean id="trackCoach"
        class="com.explore.springbean.scopes.TrackCoach" scope="singleton"> 
       <property name="fortuneService" ref="randomFortuneService"></property>       
    </bean>
    
     <bean id="cricketCoach"
        class="com.explore.springbean.scopes.CricketCoach" scope="prototype"> 
       <property name="fortuneService" ref="randomFortuneService"></property>       
    </bean>
     
   

</beans>





